In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/dataset.csv")

In [3]:
print("Shape:", df.shape)
print(df.head())
print(df.info())
print(df.describe())

Shape: (18368, 12)
   ID SystemCodeNumber  Capacity   Latitude  Longitude  Occupancy VehicleType  \
0   0      BHMBCCMKT01       577  26.144536  91.736172         61         car
1   1      BHMBCCMKT01       577  26.144536  91.736172         64         car
2   2      BHMBCCMKT01       577  26.144536  91.736172         80         car
3   3      BHMBCCMKT01       577  26.144536  91.736172        107         car
4   4      BHMBCCMKT01       577  26.144536  91.736172        150        bike

  TrafficConditionNearby  QueueLength  IsSpecialDay LastUpdatedDate  \
0                    low            1             0      04-10-2016
1                    low            1             0      04-10-2016
2                    low            2             0      04-10-2016
3                    low            2             0      04-10-2016
4                    low            2             0      04-10-2016

  LastUpdatedTime
0        07:59:00
1        08:25:00
2        08:59:00
3        09:32:00
4        09:59:00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18368 entries, 0 to 18367
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      18368 non-null  int64
 1   SystemCodeNumber        18368 non-null  object
 2   Capacity                18368 non-null  int64
 3   Latitude                18368 non-null  float64
 4   Longitude               18368 non-null  float64
 5   Occupancy               18368 non-null  int64
 6   VehicleType             18368 non-null  object
 7   TrafficConditionNearby  18368 non-null  object
 8   QueueLength             18368 non-null  int64
 9   IsSpecialDay            18368 non-null  int64
 10  LastUpdatedDate         18368 non-null  object
 11  LastUpdatedTime         18368 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 1.7+ MB
None
                 ID      Capacity      Latitude     Longitude     Occupancy  \
count  18368.000000  18368.000000  18368.000000  18368.000000  18368.000000
mean    9183.500000   1605.214286     25.706547     90.751170    731.084059
std     5302.529208   1131.153886      1.582749      3.536636    621.164982
min        0.000000    387.000000     20.000035     78.000003      2.000000
25%     4591.750000    577.000000     26.140048     91.727995    322.000000
50%     9183.500000   1261.000000     26.147482     91.729511    568.000000
75%    13775.250000   2803.000000     26.147541     91.736172    976.000000
max    18367.000000   3883.000000     26.150504     91.740994   3499.000000

        QueueLength  IsSpecialDay
count  18368.000000  18368.000000
mean       4.587925      0.150915
std        2.580062      0.357975
min        0.000000      0.000000
25%        2.000000      0.000000
50%        4.000000      0.000000
75%        6.000000      0.000000
max       15.000000      1.000000

In [ ]:
print("Missing values:\n", df.isnull().sum())

In [ ]:
plt.figure(figsize=(12, 6))
df['Occupancy'].hist(bins=30)
plt.title("Occupancy Distribution")
plt.xlabel("Occupancy")
plt.ylabel("Frequency")
plt.show()

In [ ]:
# Queue length distribution
plt.figure(figsize=(12, 6))
df['QueueLength'].hist(bins=20, color='orange')
plt.title("Queue Length Distribution")
plt.xlabel("Queue Length")
plt.ylabel("Frequency")
plt.show()

In [ ]:
# Traffic levels
df['TrafficLevel'].value_counts().plot(kind='bar', figsize=(8, 4))
plt.title("Traffic Level Distribution")
plt.show()